h1{
    text-align: center;
    color:crimson;
    background-color:deepskyblue ;
}

h3{
    text-align:center;
    color:blue
    
}

#proposito{
    color:chartreuse;
    text-align: center;
}

#nacido{
    color:red;
    background-color: aqua;
}