header{
    background-color:azure;
    padding: 20px;
}

nav{
    background-color:aquamarine;
    padding: 10px;
}

section{
    background-color:cornflowerblue;
    padding: 30px;
}

aside{
    background-color:darkred;
    padding: 10px;
}

footer{
    background-color:aquamarine;
    padding: 20px;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}